html {
    min-height: 100%;
    position: relative;
}

body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    margin: 0;
}

body canvas {
    display: block;
    background: rgb(0,128,128);
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.right-block {
    width: 300px;
    text-align: right;
}
